
#content-container{ 
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#content{
    width: auto;
    height: auto; 
    padding-top: 100px;
}
#content-left{ 
    width: 300px;
    height: 500px;
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    margin-left: 5px;
    top : 70px;
}

#content-mid{
    width: 800px;
    height: 2000px;
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}

#content-right{ 
    width: 300px; 
    height :inherit;
    background-color : rgb(153, 153, 153); 
    border-radius: 10px;
    margin-right: 5px;
}
#trends-for-you{
    height: 600px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
#who-to-follow{
    width: 100%;
    height: 300px;
    position: sticky;
    top : 100px; 
    background-color: yellow;
    border-radius: 10px;
}

