*{
    font-family: 'Inter', sans-serif;
}

.main-content::-webkit-scrollbar {
    display: none;
  }

.wrap{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin: 0;
    padding: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* overflow-y: scroll; */
    /* padding: 0vh 0 10vh 0; */
    background-color: #203243;
}



.title{
    margin-top: 100px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.main-content .content-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.circle{
    width: 3.5vw;
    height: 7vh;
    background-color: #D9D9D9;
    border-radius: 50%;
}

#main-content{
    background-color: #203243;
    width: 100%;
    min-height: 100vh;
    padding: 0vh 0 10vh 0;
}

.img-icon {
    width: auto;
    height: 30px;
}

@media screen and (min-width: 1440px) and (max-width : 2440px){

    .card-image-content{
        height: 200px;
        width: 17vw;
        max-width: 20vw;
    }
    
    .card-image-content-caption {
        width: 100%;
        border-radius: 15px;
        background-color: #D9D9D9;
    
    }
    

    #main-row {
        padding: 0 5vw;
    }
    .circle{
        width: 3.5vw;
        height: 7vh;
        background-color: #D9D9D9;
        border-radius: 50%;
    }

    .title{
        font-size: 60px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 18px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 18px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 24px;
        width: 100%;
        height: 10%;
    }

    .content-unit .description{
        font-weight: 550;
        height: 35%;
    }
}

@media screen and (min-width: 1024px) and (max-width : 1439px){

    .card-image-content{
        height: 200px;
        min-width: 190px;
        border-radius: 15px;
        background-color: #D9D9D9;
    }
    .circle{
        width: 3.5vw;
        height: 7vh;
        background-color: #D9D9D9;
        border-radius: 50%;
    }
    .title{
        font-size: 60px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 15px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 15px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 20px;
        width: 100%;
        height: 10%;
    }

    .content-unit .description{
        font-weight: 550;
        height: 35%;
        font-size: 14px;
    }
}



@media screen and (min-width: 768px) and (max-width: 1023px){


    .card-image-content{
        height: 160px;
        min-width: 148px;
        border-radius: 15px;
        background-color: #D9D9D9;
    }
    .circle{
        width: 3vw;
        height: 6vh;
        background-color: #D9D9D9;
        border-radius: 50%;
    }
    .title{
        font-size: 30px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 8px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 8px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 10px;
    }

    .content-unit .description{
        font-size: 8px;
        font-weight: 500;
    }
}



@media screen and (min-width: 370px) and (max-width: 660px){


    .card-image-content{
        height: 200px;
        /* width: 100px; */
    }


    .card-image-content-caption {
        width: 400px;
        border-radius: 15px;
        background-color: #D9D9D9;
    
    }
    
    .circle{
        width: 2.5vw;
        height: 5vw;
        background-color: #D9D9D9;
        border-radius: 50%;
    }

    
    .title{
        font-size: 30px;
    }

    .main-content .content-row{
        flex-direction: column;
    }

    .main-content .content-unit{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 14px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 14px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 60%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 20px;
    }

    .content-unit .description{
        font-size: 12px;
        font-weight: 500;
    }
}

