*{
    font-family: 'Inter', sans-serif;
}

.main-content::-webkit-scrollbar {
    display: none;
  }

.wrap{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin: 0;
    padding: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 60vh;
    overflow-y: scroll;
    
    margin-bottom: 100px;
}

.title{
    margin-top: 100px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.main-content .content-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

@media screen and (min-width: 1450px){
    
    .title{
        font-size: 60px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 18px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 18px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 24px;
        width: 100%;
        height: 10%;
    }

    .content-unit .description{
        font-weight: 550;
        height: 35%;
    }
}

@media screen and (min-width: 1200px) and (max-width : 1450px){

    .title{
        font-size: 60px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 15px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 15px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 20px;
        width: 100%;
        height: 10%;
    }

    .content-unit .description{
        font-weight: 550;
        height: 35%;
        font-size: 14px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1199px){

    .title{
        font-size: 40px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 11px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 11px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 14px;
    }

    .content-unit .description{
        font-size: 12px;
        font-weight: 500;
    }
}

@media screen and (min-width: 600px) and (max-width: 850px){

    .title{
        font-size: 30px;
    }

    .main-content .content-row{
        flex-direction: row;
    }

    .main-content .content-unit{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 8px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 8px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 50%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 10px;
    }

    .content-unit .description{
        font-size: 8px;
        font-weight: 500;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px){

    .title{
        font-size: 30px;
    }

    .main-content .content-row{
        flex-direction: column;
    }

    .main-content .content-unit{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 14px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 14px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 60%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 20px;
    }

    .content-unit .description{
        font-size: 12px;
        font-weight: 500;
    }
}

@media screen and (min-width: 200px) and (max-width: 399px){

    .title{
        font-size: 30px;
    }

    .main-content .content-row{
        flex-direction: column;
    }

    .main-content .content-unit{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .content-unit .news-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .news-detail .published-date{
        font-weight: thin;
        font-size: 10px;
        margin-right: 5px;
    }

    .news-detail .content-category{
        font-weight: thin;
        font-size: 10px;
        color: rgb(255, 168, 0);
    }

    .main-content .content-image{
        width: 100%;
        height: 60%;
    }

    .content-unit .content-title{
        font-weight: bolder;
        font-size: 12px;
    }

    .content-unit .description{
        font-size: 8px;
        font-weight: 500;
    }
}