body{
    background-color: rgb(248, 249, 250);
}

.jumbotron{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 100px 0px 100px 0px;
}

.place{
    font-size: 5vw;
    font-weight: bold;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: white;
    padding: 10vh 0% 10vh 0%;
}
.jumbotron img{
    width: 6vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron-title{
    font-size: 2vw;
    /* margin-bottom: 3px; */
    font-weight: bold;
}

.jumbotron input{
    width: 60%;
    height: 40px;
    border-radius: 30px;
    margin: 20px 0px 20px 0px;
    text-indent: 25px;
    font-size: 20px;
}


.solar-irradiation{
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}
.solar-irradiation p{
    font-size: 2vw;
    margin-bottom: 3px;
    font-weight: bold;
}
.ghi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dni{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dhi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Forecast Section*/
.forecast{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 100px 0px;
}

.content-forecast{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    /* background-color: rgb(217, 217, 217, 0.6); */
    padding: 10vh 0% 10vh 0%;
}

.right{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right p{
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: bold;
}
.right img{
    width: 70%;
}
.right .title{
    width: 100%;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}

.left{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.AM p, .PM p{
    color: #fff;
}
.AM .title, .PM .title{
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 15px;
}
.left .description{
    width: 105%;
    font-weight: bold;
    font-size: 2.5vw;
    text-align: right;
}
.AM{
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
} 
.PM{
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.hourly{
    display: flex;
    justify-content: space-evenly;
}

.table{
    /* border-collapse: collapse; */
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    font-size: 1.5vw;
}
tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #144272;
    color: white;
}
.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:nth-child(odd){background-color: #2C74B3;}
.table tr:hover {background-color: #ddd;}

.popupl{
    text-decoration: none;
    font-size: 20px;
    width: 2vw;
    height: auto;
}
.popupl img{
    width: 100%;
}
/* Popup container - can be anything you want */
.popupl {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* The actual popup */
.popupl .popuptextl {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Popup arrow */
.popupl .popuptextl::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popupl .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
.popupm{
    text-decoration: none;
    font-size: 20px;
    width: 2vw;
    height: auto;
}
.popupm img{
    width: 100%;
}
/* Popup container - can be anything you want */
.popupm {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* The actual popup */
.popupm .popuptextm {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Popup arrow */
.popupm .popuptextm::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popupm .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popupr{
    text-decoration: none;
    font-size: 20px;
    width: 2vw;
    height: auto;
}
.popupr img{
    width: 100%;
}
/* Popup container - can be anything you want */
.popupr {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* The actual popup */
.popupr .popuptextr {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Popup arrow */
.popupr .popuptextr::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popupr .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/* @media only screen and (max-width: 768px) {
    .jumbotron{
        padding: 50px 0px 50px 0px;
    }
    .jumbotron p{
        font-size: 100%;
    }
    .content-forecast{
        width: 50%;
    }
    .right{
        width: 50%;
    }
    .left{
        width: 50%;
    }
    .AM{
        width: 50%;
    }
    .PM{
        width: 50%;
    }
    .popupl{
        margin-top: 0px;
    }
} */

