.signUp-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 95vh;
  align-items: center;
  flex-direction: column;
}
.signUp-photos {
  top: 0px;
  right:800px;
  width: 736px;
  height: 739px;
  position: absolute;
}
.signUp-form {
  top: 0px;
  left: 700px;
  width: 800px;
  height: 739px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.signUp-sign-upbutton {
  top: 540px;
  left: 330px;
  width: 300px;
  height: 55px;
  text-align: center;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  color: white;
  background-color: #95CEF6;
}
.signUp-emailtextbox {
  top: 300px;
  left: 210px;
  width: 500px;
  height: 50px;
  position: absolute;
  box-shadow: 2px 4px 6px 0px rgba(78, 78, 78, 0.15000000596046448) ;
  border-radius: 16px;
  border-color: #95CEF6;
  border-style: solid;
}

.signUp-passwordtextbox {
  top: 430px;
  left: 210px;
  width: 500px;
  height: 50px;
  position: absolute;
  box-shadow: 2px 4px 6px 0px rgba(78, 78, 78, 0.15000000596046448) ;
  border-radius: 16px;
  border-color: #95CEF6;
  border-style: solid;
}

input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


.signUp-text14 {
  top: 400px;
  left: 220px;
  color: rgba(79, 79, 79, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signUp-text02 {
  top: 260px;
  left: 220px;
  color: rgba(79, 79, 79, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signUp-text10 {
  color: rgba(79, 79, 79, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signUp-text12 {
  left: 190px;
  color: #95CEF6;
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.signUp-text12:hover {
  text-decoration: underline;
  font-style: Extra bold;
}

.signUp-text18 {
  top: 120px;
  left: 259px;
  color: rgba(0, 0, 0, 1);
  width: 361px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signUp-text20 {
  top: 190px;
  left: 162px;
  color: rgba(0, 0, 0, 1);
  width: 554px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.signUp-sign-intextline {
  top: 630px;
  left: 220px;
  width: 325px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}