footer{
    height: 40vh;
    width: 99   vw;
    background-color: rgb(217, 217, 217, 0.3);
    display: flex;
    flex-direction: row;
}

.left-footer{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-footer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-footer .mid-top{
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mid-footer .mid-mid{
    width: 70%;
    height: 40%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.mid-mid .footer-option{
    font-size: 22px;
    text-decoration: none;
    color: rgba(77, 76, 76, 0.8);
    margin-bottom: 20px;
}

.mid-footer .mid-bot{
    width: 100%;
    height: 10%;
    align-items: center;
}

.mid-bot .CC{
    font-size: 15px;
    text-align: center;
}

.right-footer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-footer .right-top{
    margin-top: -70px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 70px;
}

.right-bot{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skearth_logo{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.slogan{
    width: 65%;
    height: auto;
    font-size: 16px;
    margin-left: 24px;
}

.mid-footer .mid-top .about-skearth{
    width: 80%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: rgba(77, 76, 76, 0.8);
}

.footer-option:hover{
    color: black;
    text-decoration: underline;
}