@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
:root {
  --mainColor: #F5F5F7;
  --secondaryColor: black;
  --thirdColor: #535353;

  --weight-700: 700;

  --fontsizeHeader: 40px;
  --fontsizeRegular: 20px;
  --fontsizeNavigation: 30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

footer{
  background-color: var(--mainColor);
}

.top-footer{
  padding: 30px;
}

.img-footer-logo img{
  width: 90%;
}

hr{
  border: 1px solid black;
}

.top-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-footer p{
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.info-1{
  width: 200px;
}

.menu-footer-1 ul, .menu-footer-2 ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.not-active-footer{
  font-size: var(--fontsizeRegular);
  color: var(--thirdColor);
  font-weight: var(--weight-700);
}

.not-active-footer:hover{
  text-decoration: none;
  color: var(--secondaryColor);
}
.active:hover { 
  color: var(--mainColor);
}
.footer-active:hover {
  color: var(--secondaryColor);
  font-weight: var(--weight-700);
}

.footer-active{
  color: var(--secondaryColor);
  font-weight: var(--weight-700);
  font-size: var(--fontsizeRegular);
}


.follow-us-text p{
  text-align: right;
  font-weight: var(--weight-700);
}

.icon-footer{
  padding-top: 20px;
}

.icon-footer img{
  padding-left: 10px;
}

.bottom-footer p {
  margin-bottom: 0px;
}