* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.bgbody {
  background-image: url(../property/signUp-asset/bruno-van-der-kraan-qez8mNJ3ilU-unsplash.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 720px;
  background-color: #fff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
}

.boxtext {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 70px;
}

form {
  margin: 60px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: black;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  border-radius: 16px;
  border-color: #95CEF6;
  border-style: solid;
}

.checkbox-field {
  margin: 20px;
  margin-left: 25px;
}

.checkbox-field label {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  color: black;
}

.checkbox-field input {
  vertical-align: middle;
}

.buttontext {
  display: flex;
  justify-content: center;
}

button {
  width: 30vh;
  height: 6vh;
  background-color: #95CEF6;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #444;
}

.haveaccount {
  font-size: 17px;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: #95CEF6;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 360px;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 320px
  }
}