

html{
    overflow-x:hidden;
    box-sizing: content-box;
}


.container-content{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200vh; 
    width : 100vw; 
    /* background-color: slategrey; */
    padding: 0px;
}

.following-content{ 
    position: sticky;
    top : 100px;
    height: 500px; 
    width: 300px;
    border-radius: 10px;
    background-color: grey;
}
.message-container{
    display:flex; 
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 2000px; 
    width : 700px; 
    /* background-color : red */
}
.trending-container{
    position: sticky;
    top : 100px;
    height: 700px; 
    width: 400px;
    border-radius: 10px;
    background-color: grey;
    margin-right : 20px;
}
.message-content{ 
    height: 200px;
    width: 600px;
    margin: 5px 10px 0px 10px;
    background-color: rgb(214, 160, 160)
}
.followed-user{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}






