@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

.box {
    padding: 15px;
    border-radius: 2em;
    color: black;
    background-color: rgb(245, 245, 245);
}

#tops-contain {
    padding-top: 3vw;
}

#header-fore,
#header-fores {
    padding-bottom: 35px;
}

#desc-wind {
    padding-top: 25px;
}

#head-wind {
    padding-top: 25px;
    font-size: 28px;
}

#humid-title,
#humid-desc {
    text-align: center;
}

.box-title {
    font-size: 34px;
    margin-left: 50px;
}
#image-city {
    width: 120px;
}
#desc-temp {
    margin-top: 20px;
    font-size: 36px;
}
#desc-city {
    font-size: 34px;
}
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 8px 40px;
    font-size: 14px;
    color: inherit;
    border: 1px solid gray;
    border-radius: 5em;
    width: 100%;
    max-width: 750px;
}

input[type="search"]::placeholder {
    color: #bbb;
    font-size: 20px;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin-left: -50px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.canvasjs-chart-credit {
    visibility: hidden;
}

img {
    pointer-events: none;
}

.xlabel {
    text-align: center;
}

.xlabel>p {
    padding-top: 20px;
    font-weight: bold;
    margin: 0;
}

.xlabel>hr {
    margin: 0;
}

.graph-desc {
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.graph-desc>h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 40px;
}

.graph-desc>p {
    font-size: 18px;
}